<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="autoRun" value="0" />
    <add key="listenPort" value="9876" />
    <add key="checkInterval" value="30" />
    <add key="heartBeatInterval" value="30" />
    <add key="host" value="http://api.zizai.thinkinpower.com" />
  </appSettings>
</configuration>