<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--门禁ID-->
    <add key="item_id"  value="1"/>
    <!--大厦ID-->
    <add key="building_id"  value="4"/>
    <!--入串口-->
    <add key="InComPort" value="COM1"/>
    <!--出串口-->
    <add key="OutComPort" value="COM4"/>
    <!--开闸方式 1:485 2:tcp-->
    <add key="OpenGateType" value="1"/>
    <!--继电器串口-->
    <add key="GateComPort" value="COM4"/>
    <!--继电器IP-->
    <add key="GateIP" value="192.168.1.71"></add>
    <!--延时 单位:毫秒-->
    <add key="Delay" value="6000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>