<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--门禁ID-->
    <add key="item_id"  value="1"/>
    <!--大厦ID-->
    <add key="building_id"  value="4"/>
    <!--类型 1:进入 2:出去-->
    <add key="type"  value="2"/>
    <add key="qrcomport" value="COM1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>